header
    a(href='../'): img(src='./images/book.svg' id='book')
    ul
        li: a(href='/') home
        if currentUser
            li: a(href='/users/profile') my profile
        li: a(href='/about') about
        if !currentUser
            li: a(href='/users/register') sign up
        if currentUser
            li: a(href='/users/logout') log out
            li: a(href='')
        else
            li: a(href='/users/login') log in